body {
  margin: 0;
}

header {
  background-color: #639fab;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  border: solid #7ac0cd 5px;
  box-shadow: 5px 5px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  height: 100%;
  width: 100%;
}

header > div {
  /* background-color: yellow; */
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

h1 {
  padding-left: 100px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
}
ul > a {
  font-size: 28px;
  height: 100%;
  padding-right: 50px;
  padding-top: 50px;
}

#gameDisplay {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 3%;
  margin-left: 10%;
}
#card {
  height: 200px;
  width: 400px;
  border: black solid 2px;

  margin: 20px;
  background-color: #bbcde5;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  /* display: flex; 

  /* justify-content: space-between; */
}

#fullScoreBoard {
  display: flex;
  justify-content: space-evenly;
}

#awayScoreBoard {
  text-align: center;
  height: 100%;
  width: 40%;
}
#homeScoreBoard {
  text-align: center;
  height: 100%;
  width: 40%;
}
#finalC {
  padding-left: 50%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 10%;
  margin-left: 35%;
}

#final {
  text-align: center;
}
#finalBtn {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 5%;
}
